body {
    background: #ebebeb;
    font-family: Arial,'Source Sans Pro',sans-serif;
    font-size: 14px;
    line-height: 1.35;
    color: #4a4a4a;
}

div.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column; /*background: #fff; border-left: 5px solid #ddd; border-right: 5px solid #ddd;*/
}

header div.page-header {
    margin: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 5px solid #007ea4;
}

main {
    flex: 1;
}

footer {
    border-top: 1px solid #ddd;
}

.page-header > div.pull-left {
    margin: 30px;
    margin: 30px;
    width: 232px;
    height: 79px;
    background: url(../content/images/dcrLogoHeader.png);
    background-repeat: no-repeat;
}

div.footer div.footer-content {
    background: #ebebeb;
    padding: 10px 0px;
}

    div.footer div.footer-content span.allrights {
        color: #fff;
        line-height: 1.9;
    }

.footer-content span.pull-left img {
    margin-left: 5%;
}

.footer-content span.pull-right img {
    margin-right: 5%;
}

.left-footer-img {
    margin-left: 31%;
    width: 130px;
    height: 44px;
}

.right-footer-img {
    margin-right: 31%;
    width: 107px;
    height: 45px;
    background: url(../content/images/dcrLogo.png);
}

a {
    color: #1a7cba;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #23527c;
        text-decoration: underline;
    }

div.inner-block {
    background: #fff;
    padding: 0px;
}

main div.inner-block {
    height: 100%
}

header > div.inner-block,
footer > div.inner-block {
    width: 100%;
}

div.main-menu-top {
    background: #054E93;
}

ul.menu-header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul.menu-header-ul li {
        float: right;
    }

        ul.menu-header-ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            text-transform: uppercase;
        }

div.page-header div.search-field {
    margin: 50px 8px;
}

div.search-field input {
    width: 100%;
    position: relative;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #054E93;
    border-radius: 5px;
}

    div.search-field input:focus {
        border: 2px solid #ebebeb;
    }

div.search-field i {
    float: right;
    top: 0px;
    position: absolute;
    right: 0px;
    padding-right: 30px;
    top: 13px;
    font-size: 21px;
}

form.searchPageForm div.search-field input {
    border: 2px solid #208fcc;
    color: #007ea4;
}

.searchPageForm div.search-field {
    margin: 20px 0px;
}

h4.tasksHeading, h4.instancesHeading {
    background: #054E93;
    color: #fff;
    border-radius: 4px;
}

h4.tasksHeading, h4.instancesHeading, h4.phaseHeading {
    padding: 10px 10px;
}

.taskExecutionBtn, .addNewInstance {
    padding: 0px;
    line-height: normal;
    background: transparent;
}

    .taskExecutionBtn:hover, div.modal-footer button.instanceAdd:hover {
        background: #007ea4;
        border: 1px solid #007ea4;
    }

label.labelStyling {
    float: left;
    width: 30%;
    line-height: 2;
    display: inline;
}

div.modal-footer button.instanceAdd, .taskExecutionBtn {
    background-color: #428bca;
    border: 1px solid #007ea4;
}

.submitBtn {
    background: #428bca;
    color: #fff;
}

    .submitBtn:hover {
        background: #286090;
        color: #fff;
    }

.selectBox {
    width: 10px;
}

.selectedPhase {
    background: #007ea4 !important;
}

h4.instanceModalHeading {
    text-align: center;
    color: #1a7cba;
    text-transform: uppercase;
    font-weight: 600;
}

ul.phaseUl li.phaseItem {
    text-shadow: 0px 2px 3px #555;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 6px;
    padding: 12px 32px;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #ebebeb;
    text-align: center;
}

table.entityDetailTable tr th {
    color: #007ea4;
    width: 25%;
}

span.entityLink {
    color: #007ea4;
    text-decoration: underline;
    cursor: pointer;
}

div.tableDataRow {
    margin: 1% 0%;
    background: #fff;
}

table tbody tr.trStyleClass:hover {
    background: #f5f5f5;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .search-field {
        width: 100%;
        margin: auto !important;
    }

    .footer-content span.pull-left img {
        margin-left: 0;
    }

    .footer-content span.pull-right img {
        margin-right: 0;
    }
}

/*
@media only screen and (min-width: 480px) and (max-width: 767px){
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

}

@media only screen and (min-width: 1024px) and (max-width: 1199px){

}*/
