@charset "UTF-8";

@font-face {
    font-family: "instanceStatus";
    src: url("../fonts/instanceStatus-font-1.eot");
    src: url("../fonts/instanceStatus.eot?#iefix") format("embedded-opentype"), url("../fonts/instanceStatus.woff") format("woff"), url("../fonts/instanceStatus.ttf") format("truetype"), url("../fonts/instanceStatus.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

table.tasksTable tbody tr td:nth-child(1) {
    font-family: "instanceStatus" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-executed:before {
    content: "\62";
}

.icon-pending:before {
    content: "\61";
}
