/*Common css fot all opena case manager Apps*/
div.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

    main div.inner-block {
        height: 100%;
        overflow: auto;
    }

ul.menu-header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    ul.menu-header-ul li {
        float: right;
    }

h4.tasksHeading, h4.instancesHeading, h4.phaseHeading {
    padding: 10px 10px;
}

.includedTask {
    color: blue;
}

.executedTask {
    color: green;
}

label.labelStyling {
    float: left;
    width: 30%;
    line-height: 2;
    display: inline;
}

.formFieldStyling {
    float: right;
    width: 70%;
    display: inline;
}

div.rolesBlock {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 30px;
}

div.modal-footer button.instanceAdd {
    color: #fff;
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.selectBox {
    width: 10px;
}

div.phaseBlock {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

div ul.phaseUl {
    margin: 2px auto;
    line-height: 3.4;
    padding-left: 0;
}

ul.phaseUl li {
    display: inline;
}

ul.events-log-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .floatLeftPro,
    ul.events-log-ul li {
        float: left;
    }

        ul.events-log-ul li a {
            display: inline-block;
            color: white;
            text-align: center;
            text-decoration: none;
            border-right: 1px solid #fff;
        }

.red {
    background: red;
}

    .red:hover {
        background: #cc0606;
    }

.green {
    background: green;
}

    .green:hover {
        background: #0b5a0b;
    }

.circle {
    border-radius: 2px;
    color: white;
    height: 23px;
    font-weight: bold;
    width: 25px;
    display: table;
    text-align: center;
    vertical-align: middle;
}

.case-table tbody tr.trStyleClass {
    cursor: pointer;
}

.case-status-data {
    padding: 0px;
    border-top: none;
}

.displayEvents td {
    border-top: none !important;
    background: #f9f9f9;
}

.log-status {
    width: 15px !important;
    height: 15px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.displayEvents > td {
    padding: 8px 8px 8px 1.8cm !important;
}

table.entityDetailTable tr th {
    color: #007ea4;
    width: 80%;
}

table.entityDetailTable tbody tr {
    background: #f9f9f9;
}

    table.entityDetailTable tbody tr th,
    table.entityDetailTable tbody tr td {
        border-bottom: 1px solid #ddd;
    }

table.entityDetailTable {
    margin: 0px;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

    .drop-area.highlight {
        border-color: purple;
    }

.fileElem {
    display: none !important;
}

table.tasksTable tr td {
    vertical-align: middle;
}

a > span.sort-arrow-head {
    display: inline-block;
    margin-left: 5px;
}

.phasesMainBlock {
    max-width: 188px;
    margin-left: 25px;
}

.phasesUl {
    margin: 0px !important;
    padding: 0px !important;
}

    .phasesUl h4 {
        font-size: 14px;
        margin: 0px;
        padding: 2px 8px;
        position: relative;
        text-align: center;
        font-weight: normal;
        text-transform: none;
    }

    .phasesUl .slick-center h4 {
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        -webkit-transform: scale(1.08);
        opacity: 1;
        transform: scale(1.08);
    }

.currentPhase {
    background: #9C1A5E;
    color: #ffffff;
    border-radius: 3px;
}

.spanMUS {
    padding: 3px 4px;
    margin: 0px 6px 0px 0px;
    color: #fff;
    background-color: #9C1A5E;
    border-radius: 4px;
    cursor: pointer;
}

    .spanMUS.disabled {
        background-color: gray !important;
    }

.multi-select-year-styling {
    width: auto;
    top: 18px;
    position: absolute;
    right: 25px !important;
    padding: 2px 6px;
    height: 23px;
}

.faIconStyling {
    font-size: 16px;
    color: #9C1A5E;
}
