body {
    background: #f4eded;
    font-family: Arial,'Source Sans Pro',sans-serif;
    font-size: 14px;
    line-height: 1.35;
    color: #4a4a4a;
}

header div.page-header {
    margin: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-header > div.pull-left {
    width: 200px;
    height: 85px;
    background: url(../content/images/logo.png);
    background-repeat: no-repeat;
}

div.footer div.footer-content {
    background: #9C1A5E;
    padding: 10px 0px;
}

.left-footer-img {
    width: 107px;
    height: 49px;
    background: url(../content/images/footerleft.png);
}

.right-footer-img {
    width: 107px;
    height: 45px;
    background: url(../content/images/dcrLogo.png);
}

a {
    color: #9C1A5E;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #9C1A5E;
        text-decoration: underline;
    }

div.inner-block {
    background: #fff;
    padding: 0px;
    border-left: 5px solid #ddd;
    border-right: 5px solid #ddd;
}

div.page-header div.search-field {
    margin: 20px 0px;
}

ul.menu-header-ul li a {
    display: block;
    color: #9C1A5E;
    text-align: center;
    padding-top: 16px;
    padding-right: 20px;
    text-decoration: none;
}

    ul.menu-header-ul li a:hover {
        text-decoration: underline;
    }

div.search-field input {
    width: 100%;
    position: relative;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 2px solid #9C1A5E;
    border-radius: 5px;
}

    div.search-field input:focus {
        border: 2px solid #9C1A5E;
    }

div.search-field i {
    float: right;
    top: 0px;
    position: absolute;
    right: 0px;
    padding-right: 30px;
    top: 13px;
    font-size: 21px;
    cursor: pointer;
}

form.searchPageForm div.search-field input {
    border: 2px solid #208fcc;
    color: #9C1A5E;
}

.searchPageForm div.search-field {
    margin: 20px 0px;
}

h4.tasksHeading, h4.instancesHeading {
    background: #9C1A5E;
    color: #fff;
    border-radius: 4px;
}

.taskExecutionBtn, .addNewInstance {
    padding: 0px;
    line-height: normal;
}

    .taskExecutionBtn:hover, .addNewInstance:hover, .addNewInstance:focus, div.modal-footer button.instanceAdd:hover, .submitBtn:hover, . .submitBtn:focus {
        background: #701344;
        border: 1px solid #520e31;
    }

.taskExecutionBtn, .addNewInstance, .submitBtn, button.instanceAdd, .submitBtn, button.instanceAdd, button.TasksWNoteBtn {
    background-color: #9C1A5E;
    border: 1px solid #861651;
    color: #fff;
    font-weight: 600;
}

    .submitBtn:hover,
    button.instanceAdd:hover {
        background: #701344;
        color: #fff;
        font-weight: 600;
    }

.selectedPhase {
    background: #bf4685 !important;
}

h4.instanceModalHeading,
h4.TasksWNoteheading {
    text-align: center;
    color: #bf4685;
    text-transform: uppercase;
    font-weight: 600;
}

ul.phaseUl li.phaseItem {
    text-shadow: 0px 2px 3px #555;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 6px;
    padding: 12px 32px;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #f4eded;
    text-align: center;
}

table.entityDetailTable tr th {
    color: #9C1A5E;
    width: 25%;
}

span.entityLink {
    color: #9C1A5E;
    text-decoration: underline;
    cursor: pointer;
}

div.tableDataRow {
    margin: 0px;
    background: #fff;
}

table tbody tr.trStyleClass:hover {
    background: #f5f5f5;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .input.searchField[type=text] {
        width: 63%;
    }

    .main-menu-top {
        display: none;
    }

    .search-field {
        width: 100%;
    }
}

/*
@media only screen and (min-width: 480px) and (max-width: 767px){
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

}

@media only screen and (min-width: 1024px) and (max-width: 1199px){

}*/

/*CSS For Process Manager Page*/
.phases-blocks {
    width: 100%;
    margin: auto;
    margin-top: 30px
}

.phases-txt {
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
    padding-left: 10px;
    background: #f5f5f5;
    font-weight: bold;
    color: #757575;
    box-shadow: 0px 1px 2px #9C1A5E;
    border-radius: 3px 3px 0px 0px;
}

.instance-block {
    border: 1px solid #ddd;
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    padding-left: 16px;
    margin-bottom: 8px;
    border-left: 4px solid transparent;
}

    .instance-block:hover {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }

    .instance-block:active,
    .instance-block:focus,
    .instance-block:visited {
        border-left: 4px solid #9C1A5E;
    }

.ins-title {
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 12px;
}

.case-num-block {
    font-weight: bold; /*color: #828282;*/
    font-size: 12px;
    color: #9C1A5E;
    opacity: 0.9;
}

.instance-col {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.instance-counter {
    font-size: 11px;
    color: #9C1A5E;
    margin-left: 5px;
}

/*CSS For HR App*/
.Questions-actions {
    float: right;
}

.OCM-question-block {
    margin-top: 50px;
}

.addQuestion {
    margin: 0px 10px;
    cursor: pointer
}

.deleteQuestion {
    width: 14px;
    height: 14px;
    cursor: pointer
}
/*.editQuestion:hover,
.deleteQuestion:hover { display: block; }*/

.title-question,
table.forms-listing-table {
    margin-top: 20px;
}

    table.forms-listing-table tbody tr td {
        color: #9C1A5E;
    }

table.OCM-questions-table tr td {
    padding: 12px !important;
    background: #fbfbfb !important;
}

.ocm-form-block {
    margin: 20px;
    display: flex;
}

.create-form-groupedBtn-block {
    margin: 20px;
}

.groupedBtnStyling,
.groupedBtnStyling:hover {
    background: #9C1A5E;
    border: #ddd;
    color: #fff;
}

input.title-question,
input.ocm-form-title-input,
input.search-form-listing-input {
    color: #9C1A5E;
    padding: 3px 12px;
    border: 1px solid #9C1A5E;
    border-radius: 5px;
    width: 100%;
}

input.ocm-form-title-input,
input.search-form-listing-input {
    padding: 6px 12px !important;
    font-size: 18px;
}

    input.title-question:focus,
    input.ocm-form-title-input:focus,
    input.search-form-listing-input:focus {
        border: 1px solid #9C1A5E;
        outline: 0 none;
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        width: 100%;
    }

.add-new-question-block {
    margin: 12px 20px;
}

.add-new-question-text {
    font-weight: bold;
    color: #44363f;
    text-decoration: underline;
}

.add-question-plus-icon {
    width: 14px;
    height: 14px;
    margin-right: 10px
}

button.add-question-btn {
    margin: 0px 0px 12px 20px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    color: #9c1a5e;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 4px;
}

.add-new-question-img {
    width: 10px;
}


/* Is-Template switch css*/
.is-template-block {
    position: relative;
    margin: 10px;
    flex: 0 0 auto;
}

    .is-template-block input {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 1em;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

.is-template-innerblock {
    box-sizing: border-box;
    position: relative;
}

    .is-template-innerblock label {
        position: initial;
        display: inline-block;
        font-weight: 400;
        margin: 0;
        text-indent: 1.5em;
        min-width: calc(1em + 2px);
    }

        .is-template-innerblock label:after,
        .is-template-innerblock label:before {
            content: '';
            width: calc(1em + 2px);
            height: calc(1em + 2px);
            display: block;
            box-sizing: border-box;
            border-radius: 0;
            border: 1px solid transparent;
            z-index: 0;
            position: absolute;
            left: 0;
            top: 0;
            background-color: transparent;
        }

        .is-template-innerblock label:before {
            border-color: #bdc3c7;
        }

.is-template-block input:checked ~ .is-template-innerblock label:after {
    background-color: #9C1A5E;
    width: calc(1em - 6px);
    height: calc(1em - 6px);
    top: 4px;
    left: 4px;
}

/* Add checkmark character style */
.is-template-block input:checked ~ .is-template-innerblock.checkmark:after {
    content: '\2713';
    color: #fff;
    position: absolute;
    font-size: 0.65em;
    left: 6px;
    top: 3px;
}

.forms-listing-display-block {
    margin: 20px;
}

img.newFormAddIcon {
    vertical-align: middle;
    margin-right: 5px;
}

.question-table-block {
    margin: 0px 20px 0px 20px
}

.instance-col:nth-child(5n+5) {
    clear: both;
}

.toggle.color, .toggle-on.color {
    color: green;
}

    .toggle.color .toggle-handle {
        color: green;
    }

.tasksHeading {
    background: #9C1A5E;
    color: #fff;
    border-radius: 4px;
}

.dlDocument {
    padding: 2px 6px;
    height: 23px;
    width: auto;
}
