<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcadrePWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AcadrePWS.Properties.Settings>
            <setting name="AcadrePWS_AcadreServiceV7_AcadreServiceV7" serializeAs="String">
                <value>xxxxx</value>
            </setting>
            <setting name="AcadreFrontEndBaseURL" serializeAs="String">
                <value>xxxxx</value>
            </setting>
            <setting name="PWSServiceUserName" serializeAs="String">
                <value>xxxxx</value>
            </setting>
            <setting name="PWSServiceUserPassword" serializeAs="String">
                <value>xxxxx</value>
            </setting>
            <setting name="PWSServiceUserDomain" serializeAs="String">
                <value>xxxxx</value>
            </setting>
        </AcadrePWS.Properties.Settings>
    </applicationSettings>
    <system.web>
      <webServices>
        <soapExtensionTypes>
          <add type="AcadrePWS.Acadre.PWSHeaderExtension,AcadrePWS" priority="1" />
        </soapExtensionTypes>
      </webServices>
    </system.web>
</configuration>
