
@{
    ViewBag.Title = "Processes";
}

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="tasksHeading"><span data-locale data-apply="text" data-key="Processes">Processes</span></h4>
        <div class="table-responsive" style="border:none">            
            <table class="table tasksTable">
                <thead>
                    <tr class="trStyleClass">
                        <th style="display:none;"><span data-locale data-apply="text" data-key="ProcessId">ProcessId</span></th>
                        <th width="15%"><span data-locale data-apply="text" data-key="GraphId">Graph Id</span></th>
                        <th width=""><span data-locale data-apply="text" data-key="Title">Title</span></th>
                        <th width="10%"><span data-locale data-apply="text" data-key="OnFrontPage">On Front Page</span></th>
                        <th width="9%"><span data-locale data-apply="text" data-key="Action">Action</span></th>
                    </tr>
                </thead>
                <tbody id="processes"></tbody>
            </table>
        </div>
    </div><!-- Cols Div End -->
</div><!-- Row Div End -->
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        App.getProcess(false);
    });
</script>