
@{
    ViewBag.Title = "Instance";
}

@Html.Partial("~/Views/PartialViews/Instruction.cshtml")
@Html.Partial("~/Views/PartialViews/TasksWithNote.cshtml")

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="phaseBlock">
            <ul class="phaseUl" id="processPhase"></ul>
        </div>
    </div>
</div>

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-responsive entityDetailTable">
            <tr>
                <th class="caseTitle"><span id="instanceTitle"></span></th>
                <td><span style="float:right;display:none;" class="caseLink"><a target="_blank" id="entityLink" href="#"><img width="12px" src="../content/images/caseLink.png"></a></span><span style="float:right;display:none;padding-right:10px;" class="caseNum"><span id="instanceCaseNo"></span></span></td>
            </tr>
        </table>
    </div>
</div><!-- Row End -->

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="tasksHeading"><span data-locale data-apply="text" data-key="InstanceTasks">Instance Tasks</span></h4>
        <div class="table-responsive" style="border:none">
            @Html.Partial("~/Views/PartialViews/Tasks.cshtml")
        </div>
    </div><!-- Cols Div End -->
</div><!-- Row Div End -->

<script src="~/Scripts/instance.js"></script>

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<script src="~/Scripts/task.js"></script>

@Html.Partial("~/Views/PartialViews/Document.cshtml")