
@{
    ViewBag.Title = "Search";
}

<!-- <h3 class="searchFieldHeading">Search Instances</h3> -->

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- Trigger the modal with a button -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="trStyleClass">
                        <th width=""><span data-locale data-apply="text" data-key="Title">Title</span></th>
                        <th width=""><span data-locale data-apply="text" data-key="CaseNo">CaseNo</span></th>
                        <th width=""><span data-locale data-apply="text" data-key="Responsible">Responsible</span></th>
                        <th width="20"><span data-locale data-apply="text" data-key="Status">Status</span></th>
                    </tr>
                </thead>
                <tbody id="search-cases">
                </tbody>
            </table>
        </div>
    </div><!-- Cols Div End -->
</div><!-- Row End -->
<script src="~/Scripts/search-case.js"></script>