
@{
    Layout = "~/Views/Shared/_UnAuthorized.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorized</title>
</head>
<body>
    <div> 
        You are not Authorized. Please log in with correct credentials
    </div>
</body>
</html>
