<!-- Modal -->
<div class="modal fade" id="dcrFormIframeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title instanceModalHeading" id="dcrFormEventTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="loading">Please wait</div>
                    <iframe id="dcrFormIframe" src="" frameborder="0" width="100%"></iframe>
                </div>
            </div>
            <!-- modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- Modal End-->
<script src="~/Scripts/formserver.js"></script>