<div id="documents" style="display:none">
    <div class="row tableDataRow">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="instancesHeading">
                <span id="addNewDocumentText" data-locale data-apply="text" data-key="Documents">Documents</span> <button type="button" class="btn addNewInstance" id="addNewDocumentBtn">
                    <span><img src="~/Content/Images/addicon.png"></span>
                </button>
            </h4>
            <div class="" style="border:none">
                <table class="table tasksTable">
                    <thead>
                        <tr class="trStyleClass">
                            <th style="display:none"><span data-locale data-apply="text" data-key="DocumentId">Id</span></th>
                            <th width="2%"><span></span></th>
                            <th><span data-locale data-apply="text" data-key="Title">Title</span></th>
                            <th width="7%"><span data-locale data-apply="text" data-key="Action">Action</span></th>
                        </tr>
                    </thead>
                    <tbody id="files"></tbody>
                </table>
            </div>
        </div><!-- Cols Div End -->
    </div><!-- Row Div End -->
    <!-- Modal -->
    <div class="modal fade" id="addNewDocumentModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title instanceModalHeading"><span data-locale data-apply="text" data-key="AddDocument">Add Document</span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label id="documentNameLabel" for="documentName"><span data-locale data-apply="text" data-key="Title">Title</span>:</label>
                        <input type="text" class="form-control" id="documentName">
                        <input type="hidden" class="form-control" id="documentId">
                    </div>
                    <div class="form-group">
                        <label><span data-locale data-apply="text" data-key="Document">Document</span></label>
                        <div id="drop-area" class="drop-area">
                            <form class="my-form">
                                <input type="file" id="fileElem" class="fileElem" onchange="handleFiles(this.files)">
                                <label class="button" for="fileElem" data-locale data-apply="text" data-key="DragorSelect">Drag a file or Select</label><br />
                                <label class="button" for="" id="selectedFileName" style="font-weight: normal !important;font-style: italic;color: brown;"></label>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- modal Footer -->
                <div class="modal-footer">
                    <button type="button" id="addDocument" class="instanceAdd" onclick="submitFiles()"><span data-locale data-apply="text" data-key="Add">Add</span></button>
                </div>
            </div>
        </div>
    </div><!-- Modal End-->

    <script src="~/Scripts/document.js"></script>
</div>