<style>
    .accordion {
        cursor: pointer;
        transition: 0.4s;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>


<div class="row tableDataRow" id="instructionWebPart">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="tasksHeading accordion"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span><span data-locale data-apply="text" data-key="Instructions">Instructions</span></h4>
        <div class="table-responsive panel" style="border:none">
        </div>
    </div>
</div>

<script src="~/Scripts/instruction.js"></script>
