 <!--Modal For Commenting -->
<div class="modal fade" id="TasksWNote" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title TasksWNoteheading">
                    <span data-locale data-apply="text" data-key="Title">Title</span>
                </h4>
            </div>
            <div class="modal-body">
                <p data-locale data-apply="text" data-key="Description">Description</p>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" data-locale data-apply="text" data-key="Comment">Comment</label>
                        <textarea class="form-control commentbox" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="instanceAdd TasksWNoteBtn" data-locale data-apply="text" data-key="Execute">Execute</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Commenting-->